.otpInputStyle {
    /* background-color: green; */
    height: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 70px;
    text-align: center;
    /* border: none; */
    /* width: 1000000px; */
}