.sidenavBody li {
    margin-top: 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: lighter;
    transition-property: all;
    transform: scaleX(1);
    text-align: start;
    list-style: none;
    padding: 10px;
    transition: 0.5s;
    transition-property: all;
}

.sidenavBody li:hover {
    background-color: white;
    font-weight: 600;
}

.sidenavBody span {
    /* background-color: #0A770C; */
    background-color: white;
    font-weight: 600;
    color: grey;
    /* box-shadow: ; */
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.sidenavBody span:hover {
    background-color: #0A770C;
    color: white;
    /* background-color: white; */

    /* font-weight: 600;
   
    box-shadow: ;
    padding: 5px;
    margin: 5px;
    border-radius: 5px; */
}

.sidenavBody {
    z-index: 999999999;
    position: fixed;
}